<div class="container-fluid">

  <div class="masthead">

  </div>

     <div class="jumbotron home-style">
     <div class="container-weeks">
         <div class="weeks-header">
            <h1> Weeks </h1>
            <span><%= link_to("New Week", new_week_path, {class:"btn btn-default"})%></span>
          </div>

          <div class="weeks-each">
            <% @weeks.each do |week| %>
                <%= link_to(week.name, week_path(week), {class:"btn btn-default", id:"week-name-button"})%>
            <% end %>
          </div>
      </div>

        <br>
         
    </div> 
</div>


</div>