<div class="container-fluid">

     <div>
       <%= month_calendar table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: {class: "day"}, events: @events do |date, events| %>

          <div>
          <strong><%= date.day %></strong>
          </div>

          <br>
            <div>
                <% events.each do |event| %>
                    <%= event.name %>   |    <%= event.time %>
                <% end %>
            <div>

      <% end %> <!-- end of month_calendar -->
    </div> 


</div>



