<%= render "shared/navbar" %>
<br>
<br>


<div class="jumbotron home-style">
       <table class="table">
        <tr>
          <th>Name </th>
          <th> Description </th>
          <th>Category</th>
        </tr>

      <% @resources.each do |resource| %>
        <tr>
          <td><%= link_to resource.name%></td>
          <td><%= resource.description %></td>
          <td><%= resource.category %></td>
        </tr>
      
      <% end %>
      </table>

  </div>