/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#lead-css {
    font-size: 16px;
}

#row-css {
    display: inline-block;
}

#this-week {
    background-color: #eee;
    border: 3px solid black;
    border-radius: 25px;
}

#next-week {
    background-color: #eee;
    border: 3px solid black;
    border-radius: 25px;
   }

#office-hour {
    background-color: #eee;
    border: 3px solid black;
    border-radius: 25px;
}

#resources {
    background-color: #eee;
    border: 3px solid black;
    border-radius: 25px;
    }

#events {
    background-color: #eee;
    border: 3px solid black;
    border-radius: 25px;
}

#week-name-button {
    width: 150px;
    height: 130px;
    margin: 20px;
}

.home-style {
    margin-top: 50px;
    margin-left: 30px;
    width: 1200px;
     border: 3px solid black;
    border-radius: 25px;
}

.table {
    background-color: turquoise;
}

.table-bordered {
    border: 5px solid black;
}

.day {
    height: 150px;
    width: 150px;
}

.user-box {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    padding: 20px;
    margin: 5px 20px 5px 20px;
    background-color: turquoise;
    display: inline-block;
    float: left;
}

.all-users-container {
    width: 1250px;
    display: inline-block;
}
