/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



// Place all the styles related to the Weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: #365659;
}


#lead-css {
    font-size: 16px;
}

#row-css {
    display: inline-block;
}

#this-week {
    border-radius: 25px;
    background: #A6A59F;
    color: black;
    height: relative;
    padding: 50px;
    width: 45%;
    margin: 10px;
}

#next-week {
     border-radius: 25px;
    background: #A6A59F;
    color: black;
    height: relative;
    padding: 50px;
    width: 45%;
    margin: 10px;
   }

#office-hour {
    border-radius: 25px;
    background: #A6A59F;
    color: black;
    height: relative;
    padding: 50px;
    width: 40%;
    margin: 10px;
}

#resources {
  border-radius: 25px;
    background: #A6A59F;
    color: black;
    height: relative;
    padding: 50px;
    width: 40%;
    margin: 10px;
    }

#events {
  border-radius: 25px;
    background: #A6A59F;
    color: black;
    height: relative;
    padding: 50px;
    width: 100%;
    margin: 10px;
}

#week-name-button {
    width: 130px;
    height: 130px;
    margin: 20px;
    border-radius: 300px;
    border: 3px solid black;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    display: inline-block;
}

.home-style {
    margin-top: 50px;
    margin-left: 120px;
    width: 1000px;
    border-radius: 25px;
    background: #A6A59F;
    color: black;
    height: relative;
}

.table {
    background-color: #A6A59F;
}

.table-bordered {
    border: 5px solid black;
}

.day {
    height: 150px;
    width: 150px;
}

.all-users-container {
    width: 100%;
    display: inline-block;
}

.user-box {
    width: 350px;
    height: 350px;
    border: 5px solid black;
    padding: 20px;
    margin: 5px 20px 5px 20px;
    background-color: #A6A59F;
    display: inline-block;
    font-size: 12px;
    border-radius: 40px;
    color: black;
    float: left;
}



.current-user {
    float: right;
    color: white;
}

.container-weeks {
    display: inline-block;
    width: 100%
}

.weeks-header {
    display: inline-block;
    width: 40%
}

.weeks-each {
    display: inline-block;
    width: 10%;
}

.placeholder {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 300px;
    background: #E1DED7;
}

.content-container {
    width: 100%;
    display: inline-block;
}

.first-row {
    width: 40%;
    display: inline-block;
    float: left;
}

.second-row {
    width: 40%;
    display: inline-block;
}

.form-style {
    background: #A6A59F;
    width: 50%;
    margin: 30px 300px 100px 300px;
    padding: 20px;
    border: 1px solid black;
}

.calendar-title{
    font-size: 50px;
}
